:root {
    --color_principale: rgb(116, 183, 26);
  }
*{
    box-sizing:border-box;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.hide{
    display :none;
}
.show{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}
img{
    max-width: 100%;
}
.flex_nav{
    display: flex;
}
.nav{
    flex-direction: column;
    z-index: 2;
    background-color: rgb(0,0,0,0.5);
    z-index: 1;
    justify-content: center;
    
}
.close{
    position: absolute;
    top:1.5em;
    left:0.5em;
    z-index: 2;
}
.nav a{
    width: 100%;
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: white;
    display: block;
   width:80%;
    /* height: 4em; */
    font-size: 1.5em;
    text-align: center;
    border: 1px solid black;
    box-shadow: 4px 4px 4px  white;
    padding:2em 0;
    
}
.header{
    padding-bottom:3em;
}
.img_head{
    width: 100%;
    margin: 0;
    display: none;
}
.img_head_mob{
    margin: 0;
    width:10em;
    height: 5em;
    position: absolute;
    top:1em;
    right:1em;
}
.burger{
    position: sticky;
    justify-content: flex-start;
    top: 0;
    z-index: 1;
}
.puissance{
    display: flex;
    flex-wrap: wrap;
}
.puissance h1{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.titre_puissance,.titre_aside{
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.cache_p{
    height: 25vh;
    overflow: hidden;
    position: relative;
}
.cache_p span{
    position:absolute;
    right:0;
    width: 100%;
    text-align: right;
    cursor: pointer;
    top:23vh;
    background-color: rgb(255,255,250,0.5);
    color: blue;
    z-index: 2;
}
.cache_a{
    height: 0vh;
    overflow: hidden;
    position: relative;
}

.img_puissance{
    margin: 0;
    width:2.5em;
}
.txt_puissance,.txt_aside{
    padding: 0 1em;
    text-align: justify;
}
.aside{
    background-color: var(--color_principale);
    color: white;
}
.img_aside{
    margin-top: 1em;
    width: 33%;
}
.titre_aside{
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}
.footer{
    display: flex;
    justify-content: space-around;
}
.social{
    display: flex;
    justify-content: space-around;
    padding: 1em;
}
.container_footer input{
    width: 10em;
    height: 2em;
}
.img_footer{
    margin: 0;
    width:5em;
    height: 5em;
}
.img_footer:hover{
    animation: scale;
    animation-duration: 500ms;
}
@keyframes scale {
    0% {}
    100% {transform:scale(1.5);}
  }

  @media screen and (min-width: 768px) and (max-width:1024px) {
        .header{
            position: relative;
            padding: 0;
        }
        .img_head{
            display:block;
        }
        .main{
            display: flex;
        }
        .close,.img_head_mob{
            display:none;
        }
        .nav{
            flex-direction: row;
            z-index: 2;
            background-color: rgb(255,255,255);
            z-index: 1;
            justify-content: center;
            position: sticky;
            top:0;
            
        }
        .nav a{
            width: 20%;
            margin: auto;
            text-align: center;
            text-decoration: none;
            color: white;
            height: auto;
            font-size: 1em;
            text-align: center;
            border: 0px;
            box-shadow:0;
            color: black;
            padding:0 1em;
            
        }
        .sous{
            display: flex;
            justify-content: space-between;
            margin-top: -2em;
            background-color: (var(--color_principale),0.5);
            padding: 0.5em;
            position: absolute;
            bottom:0.3em;
            width: 100%;
            color: white;    
        }        
        .sous a{
            background-color: var(--color_principale);
            color:white;
            padding: 0.5em;
            margin-right:0.5em;
        }
        .cache_p,.cache_a{
            height: auto;
        }
        .cache_p span{
            display: none;
        }
        .titre_aside{
            flex-direction: column;
        }
        .img_aside{
            width: 100%;
        }
       
  }
  @media screen and (min-width: 1024px){
      .show{
          flex-direction: row;
      }
      .wrapper{
          width: 75%;
          margin: auto;
      }
    .header{
        position: relative;
    }
    .nav{
        opacity: 1;
        flex-direction: row;
        top:0;
        padding: 0;
        background-color: white;
    }
    .nav a{
        width:25%;
        padding: 0;
        height: auto;
        border: none;
        box-shadow: 0 0 0;
        color: black;
    }
    .img_head,.footer_section{
        display:block;
    }
    .img_head_mob,.burger,.close,.far,.fas{
        display:none;
    }

    .sous{
        display: flex;
        justify-content: space-between;
        margin-top: -2em;
        background-color: var(--color_principale);
        padding: 0.5em;
        position: absolute;
        bottom:3.2em;
        width: 100%;
        color: white;    
    }        
    .sous a{
        background-color: rgb(116, 183, 26);
        color:white;
        padding: 0.5em;
        margin-right:0.5em;
    }
    .main{
        display: flex;
        border-bottom: 2px solid  var(--color_principale);
        margin-top: 2em;
    }
    .titre_puissance{
        width: 100%;
        justify-content: flex-start;
        align-items: center;
    }
    .cache_p,.cache_a{
        height: auto;
    }
    .cache_p span{
        display: none;
    }
    .titre_puissance span{
       padding-left: 1em;
    }
    .img_puissance{
        border: 1px solid black;
        border-radius: 5px 5px 5px 5px;
        margin-right:0.5em;
        width: 1.5em;
        height: 1.5em;
        padding:1px;
        float: left;
    }
    .titre_aside{
        flex-direction: column;
    }
    .cont_in{
        display: flex;
        flex-direction: column;
        width: 9em;
    }
    .affich_section{
        width: 33%;
    }
    .flex_gal{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
    }
    .img_footer{
        width: 4.5em;
    }
    .news{
        justify-content: flex-start;
    }
    .input_news{
        align-self: flex-end;
    }
    .input:first-child{
        margin-bottom: 0.5em;
    }
    .titre_container{
        width: 100%;
    }
    .part{
        width: 80%;
        margin-left: 1em;
    }
    .display_css{
        width:3em;
        height: 2em;
        padding:0.5em 1em;
        background-color: black;
        position: absolute;
        left:-2em;
        top:50%;        
        border-radius: 0 15px 15px 0;
        cursor: pointer;
    }
    .display_css:hover{
        transition: left 500ms;
    }
    .display_css:hover {
        left: 0px;
      }    
    .cont_css{
        display: none;
        width: 5em;
        height: 5em;
        background-color: black;
        position: absolute;
        top:50%;
        justify-content: center;
        background-color: ivory;
        align-items: center;
        border-radius: 0 15px 15px 0;
        box-shadow: 1px 1px 7px;
        transition: left 100px;
    }
    .css{
        width: 3em;
        height:3em;
        padding: 0,1em;       
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .css div{
        border-radius: 50%;
        cursor: pointer;
    }
    .css div:nth-child(1){
        width: 1.2em;
        height: 1.2em;
        background-color: red;
    }
    .css div:nth-child(2){
        width: 1.2em;
        height: 1.2em;
        background-color: green;
    }
    .css div:nth-child(3){
        width: 1.2em;
        height: 1.2em;
        background-color: black;
    }
    .css div:nth-child(4){
        width: 1.2em;
        height: 1.2em;
        background-color: yellow;
    }
}